<div>  
  <div class="mt-">
    <h1>{{name}}</h1>
    <div>{{birthdate}}</div>
    <div>{{birthplace}}</div>
    <div>{{deathdate}}</div>
    <div>{{deathplace}}</div>
    <div>{{nationality}}</div>
    <div>{{occupation}}</div>    
  </div>
    <hr />
    {{> title data="Known for"}}
      {{#each known_for}}
        <div>{{this}}</div>
      {{/each}}
        <hr>
    {{> title data="Education"}}
      {{#each education}}
      <div>{{degree}}</div>      
      <div>{{field}}</div>      
      <div>{{institution}}</div>      
      <div>{{year}}</div>
      {{/each}}
       <hr>
    {{> title data="Notable publications"}}
      {{#each notable_publications}}
      <div>{{title}}</div>      
      <div>{{year}}</div>      
      <div>{{publisher}}</div>      
      {{/each}}
       <hr>
    {{> title data="Partners"}}
      {{#each partners}}
      <div>{{name}}</div>      
      <div>{{relationship}}</div>      
      <div></div>{{years}}      
      <div></div>{{/each}}
      <hr>
    {{> title data="Awards"}}
      {{#each awards}}
       <div>{{title}}</div>       
       <div>{{year}}</div>       
       <div>{{description}}</div>      
      {{/each}}
      <hr>
    {{> title data="Influences"}}
      {{#each influences}}
      <div>{{this}}</div>
      {{/each}}
      <hr>
    {{> title data="Influenced"}}
      {{#each influenced}}
      <div>{{this}}</div>
      {{/each}}
      <hr>
    {{> title data="Quotes"}}
      {{#each quotes}}
      <div>{{this}}</div>
      {{/each}}
      <hr>
    {{> title data="Major discoveries"}}  
      {{#each major_discoveries}}
       <div>{{title}}</div>
       <div>{{year}}</div>
       <div>{{description}}</div>
      {{/each}}
      <hr>
    {{> title data="Contributions"}}
      {{#with contributions}}
        <div>{{title}}</div>
        <div>{{description}}</div>
        <div>{{year}}</div>
        <div>{{field}}</div>
      {{/with}}
</div>