<main>
  
  {{#with newsBlock}}
    <div class='display-3 text-center'>{{title}}</div>
      <div class='row'>
        {{#each cards}}
          <section class='col-3 g-2'>
            <div class='card text-bg-dark'>
              <div class='card-body'>
                <div class='card-header'>
                  <h6 >{{title}}<span class='badge text-bg-danger rounded-pill ms-1'>{{#if isTop}}Топ{{/if}}</span>
                  <span class='badge text-bg-success rounded-pill ms-1'>{{#if isNew}}Нове{{/if}}</span></h6>
                </div>
                {{description}}
              </div>
            </div>
          </section>
        {{/each}}
      </div>
    </div>
  {{/with}}
  <hr>
  {{#with goodsBlock}}
    <div class="nav nav-tabs mt-5 mb-4">
      {{#each tabs}}
        <div class="nav-item">
        <a href="#" class="nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}}">{{text}}</a>
        </div>
      {{/each}}
    </div>
    <div class="row">
      {{#each cards}}
        <div class="col-4 g-2">
          <div class="card">      
            <div class="card-body">
              <img class="card img-top" src="https://picsum.photos/275/100" alt="Product photo">
                <h6>{{title}}<span class='badge text-bg-warning rounded-pill text-uppercase text-light m-1'>{{#if isHot}}Hot!{{/if}}</span>
                <span class='badge text-bg-primary rounded-pill ms-1'>{{#if isNew}}Нове{{/if}}</span></h6>
                {{description}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
  <hr>  
  {{#with subscribe}}
    <div class="card-header mt-5 mb-5">
      <div class="alert alert-dark">
        <h2>{{header}}</h2>
        <p>{{description}}</p>
        {{#each buttons}}
          <section class="col-8 pt-1 pb-1">
            <a href:='{{link}}'class='btn btn-primary'>{{text}}</a>
          </section>
        {{/each}}
      </div>
    </div>
  {{/with}}
    <hr>
  {{#with service}}
    <div class="alert alert-success text-center mt-5 mb-5">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
        {{#each buttons}}
            <section class="col-12 pt-1 pb-1">
              <a href:='{{link}}'class='btn btn-primary'>{{text}}</a>
            </section>
        {{/each}}
    </div>
  {{/with}}
  <hr>
  
    
</main>