<main>
  <div class='card'>
    <div class='card-body'>
      {{#with heading}}
        <div class='card'>
          <div class='card-body'>
            {{#with main}}
              <h1>{{title}}</h1>
              <p>{{text}}</p>
              {{#with button_text}}
                <br />
                <button
                  class='btn btn-primary'
                >{{solid}}</button>
                <br />
                <br />
                <button
                  class='btn btn-outline-primary'
                >{{outline}}</button>
              {{/with}}
            {{/with}}
          </div>
        </div>
        <br />
        <div class='card'>
          <div class='card-body'>
            {{#with second}}
              <h2>{{title}}</h2>
              <p>{{text}}</p>
              {{#with button_text}}
                <br />
                <button
                  class='btn btn-secondary'
                >{{solid}}</button>
                <br />
                <br />
                <button
                  class='btn btn-outline-secondary'
                >{{outline}}</button>
              {{/with}}
            {{/with}}
          </div>
        </div>
        <br />
        <div class='card'>
          <div class='card-body'>
            {{#with subblock}}
              <h3>{{title}}</h3>
              <p>{{text}}</p>
              {{#with button_text}}
                <button
                  class='btn btn-dark'
                >{{solid}}</button>
                <br />
                <br />
                <button
                  class='btn btn-outline-dark'
                >{{outline}}</button>
              {{/with}}
            {{/with}}
          </div>
        </div>
      {{/with}}
    </div>
  </div>
  <br />
  <div class='card'>
    <div class='card-body'>
      {{#with nested_display}}
        <div class='display-1'>{{title}}</div>
        <div class='card'>
          <div class='card-body'>
            {{#with children_display}}
              <div class='display-4'>{{title}}</div>
              <br />
              <p>{{text}}</p>
              {{#with button}}
                <button
                  class='btn btn-outline-warning'
                >{{text}}
                </button>
              {{/with}}
            {{/with}}
          </div>
        </div>
        <br />
        <h6>{{header_text}}</h6>
        {{#with button}}
          <br />
          <button
            class='btn btn-info text-light'
          >{{text}}</button>
        {{/with}}
      {{/with}}
    </div>
  </div>
  <br />
  <div class='card'>
    <div class='card-body'>
      {{#with paragraph}}
        <p class='text-uppercase'>{{title}}</p>
        <br />
        <p class='text-lowercase'>{{text}}</p>
        <br />
        {{#with button}}
          <div class="btn btn-link">{{text}}{{url}}</div>
        {{/with}}
        <div class='card'>
          <div class='card-body'>
        <ul>
        {{#each list_name}}
        <li>
          <div class="btn btn-link">{{text}}{{url}}</div>
          <br />
          </li>
        {{/each}}
        </ul>
      {{/with}}
        </div>
      </div>
    </div>
  </div>
</main>